a {
    text-decoration: none;
    color: #212529 ;
}

a:hover {
    color: #252525 ;
}

.article-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:730px) {
    .article-content {
        display: none;
        
    }
}